{% extends "base.html.twig" %}

{% block title %} Devin's Blog {% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
  blockquote {
    border-left: 5px solid #ccc;
    background: #f9f9f9;
  }

  blockquote>p {
    margin: 1.5em 10px;
    padding: 10px;
  }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<!-- Top row -->
<div class="container" style="margin-bottom: 40px;margin-top: 40px;">
  <h1 class="display-3">Devin's Blog</h1>
</div>

<!-- Main -->
<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-sm-8">
      {% for post in posts %}
      <div class="blog-post">
        <p class="text-muted">
          {{ post.getPublishTime|date("m/d/Y - g:i a") }}
        </p>

        <!-- difference of greather than 1 min -->
        {% if (post.lastModified - post.publishTime)|abs > 59 %}
        <p class="text-muted">
          <i>Edited: {{ post.lastModified|date("m/d/Y - g:i a") }}</i>
        </p>
        {% endif %}

        <!-- echo post tags with links to search -->
        <p>
          {% for tag in post.tags %}
          <a class="rounded text-white bg-secondary" href="/blog/search.php?tags[]={{ tag|replace({'#': ''}) }}"
            style="text-decoration:none;">
            {{ tag }}
          </a>
          {% endfor %}
        </p>

        <!-- Render markdown to HTML -->
        {% autoescape false %}
        {{ post.text|md2html }}

        {% endautoescape %}

      </div>
      <hr />
      {% endfor %}
    </div>
    <!-- Side bar -->
    <div class="col-sm-3">
      {% block sidebar %}
      {{ render(controller('App\\Controller\\SideBarController::renderSideBar')) }}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}